/* ------------------- TRAITEMENT ICONE AVATAR ---------------------- */

#btn-avatar{
	background-color: #fff;
  	border: 3px solid #777;
  	color: #777;
  	padding: 10px 10px;
  	border-radius: 10px;
  	font-size: 12px;
  	font-weight: bold;
	width: 160px;
}

#avatar-input{
	right: 0;
  	top: 0;
  	opacity: 0;
  	position: absolute;
  	font-size: 90px;
	width: 166px;
	height: 40px;
}

.avatar {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}