#scribblioContainer {
    width: 20vw;
    height: 20vh;
    position: absolute;
    left: 5vw;
    top: 50vh;
    transform: translateY(-50%);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s;
    -webkit-box-shadow: 0px 0px 0px 0px #000000; 
    box-shadow: 0px 0px 0px 0px #000000;
}

#scribblioContainer.active {
    width: 60vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
}

#scribblio {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    z-index: -1;
}

#scribblioContainer.active #scribblio {
    z-index: 9;
}

#scribblioOverlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .2s;
    cursor: pointer;
}

#scribblioContainer:hover #scribblioOverlay {
    background-color: rgba(0, 0, 0, 0.5);
}

#scribblioOverlay p {
    color: black;
    z-index: 2;
    cursor: pointer;
}

#scribblioClose {
    display: none;
    position: absolute;
    top: 2vh;
    right: 2vh;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#scribblioClose p {
    color: black;
}

#scribblioContainer.active ~ #scribblioClose {
    display: flex;
}

.scribblioControls {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    transition: all .2s;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
}

.scribblioControls.active {
    bottom: 10px;
}

.scribblioItem {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scribblioInfos {
    position: absolute;
    width: 10vw;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 5px;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
}

.scribblioInfos.active {
    right: 5vw;
}

.playerList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}