#drawmodule {
    display: none;
}

#drawmodule.visible {
    display: block;
}

#scribblioContainer {
    width: 0;
    height: 0;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    transition: all .2s;
    -webkit-box-shadow: 0px 0px 0px 0px #000000; 
    box-shadow: 0px 0px 0px 0px #000000;
    opacity: 0;
    z-index: 9;
}

#scribblioContainer.visible {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 5vw;
    top: 50vh;
    transform: translateY(-50%) scale(.3);
    transform-origin: center;
    opacity: 1;
}

#scribblioContainer.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
}

#scribblio {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    z-index: -1;
}

#scribblioContainer.active #scribblio {
    z-index: 9;
}

.scribblioControls {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    transition: all .2s;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
}

.scribblioControls.active {
    bottom: 10px;
}

.scribblioItem {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scribblioInfos {
    position: absolute;
    width: 15vw;
    max-height: 90vh;
    min-height: 60vh;
    overflow-y: scroll;
    padding: 5px;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all .2s;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
    box-shadow: 0px 0px 20px 0px #000000;
    text-align: center;
    z-index: 9;
    opacity: 0;
}

.scribblioInfos.active {
    right: 5vw;
    opacity: 1;
}

.playerList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}