/* Module Like */
.like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}   

.like-count {
    padding: 0 0.25rem 0 0; 
}

.like-button {
    width: 1rem;
}

.like {
    color: red;
}

.message.is-me .like-container .like-button #like-icon{
    order: 1;
}