/* Module Like */
.like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
	margin-left: 0.5vw;
}

.message.is-me>.msg-option>.like-container{
    margin-right: 1vw;
}

.like-count {
    padding: 0 0.25vw 0 0; 
}

.like-button {
    width: 1vw;
}

.like-button>svg{
    fill: transparent;
}

.like {
    color: red;
}

@media (max-width: 500px) {
    .like-button {
        width: 4vw;
    }
}