/* module deletesMessage */
.message .btn-setting-chat{
    grid-area: B;
    margin-left: auto;
    width: 25px;
    border: none;
    background:none; 
    cursor: pointer;
}

.menuBouton 
{
    position: absolute;
    border: solid ;
    border: 0.2em solid lightgray;
    background-color: lightgray;
    border-radius: 1em;
}

.boutonSetting
{
    font-size: 1em;
    padding: 1em;
    margin: 0em 0em;
    padding: 1em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border: none;
    color: black;
    background-color: lightgray;
    width: 15em;
    text-align: left;


}

.boutonSetting:hover 
{
    align-items: center;
    background-color: lightslategray;
    color: black;
    
}

.deleteBouton
{
    color: red;
}
.deleteBouton:hover
{
    color: red;
}

.deleteBouton i{
    padding-right: 0.2em ;
}
.modifyBouton i{
    padding-right: 0.2em ;
}

@media (max-width: 500px) {
    .menuBouton{
        width: 130px;
        height: 60px;
    }

    .boutonSetting{
    font-size: 3em;
    }
}