/* #answer-to{
    display: none;
    position: absolute;
    top: -10px;
    right: 0;
}

#reply-to{
    position: absolute;
    top:0;
    left: -15px;
}

#replyToText{
    font-size: 14px;
    text-align: left;
    margin: 0;
}

.replied-text {
	font-style:italic;
} */