/* html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body {
	background:#888;
	color:#555;
	text-align:center;
	font-family:Arial;
}
h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}
#chat {
	margin:0 auto;
	width:70%;
	max-width:500px;
	height: calc(100% - 80px - 40px - 60px); 80px = marge haute, 40px = marge basse, 60px = padding vertical
	padding:30px;
	background:#fff;
	border-radius:14px;
	font-size:0;
	box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.3);
	position: relative;
}
#messages {
	height:calc(100% - 15px - 60px); 15px = padding-top, 60px = formulaire en dessous 
	padding-top:15px;
	width:100%;
	overflow-y:scroll;
	margin-bottom:20px;
	font-size:12px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right: solid 1px #eaeaea;
    border-bottom: solid 2px #DDD;
	background:#eee;
	text-align: left;
}
#messages .message {
	padding:4px 20px;
}
#messages .message:nth-child(2n) {
	background:rgba(0, 0, 0, .02);
}
#messages .message.is-me {
	text-align:right;
}
#message-input {
	display:inline-block;
	border:solid 2px #888;
	width:calc(100% - 144px);
	padding:0 20px;
	height:31px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right:none;
	transition:all .4s;
}
#send-message {
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	text-transform:uppercase;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	cursor:pointer;
	transition:all .4s;
}
#message-input:focus {
	outline:none;
	border-color:#666;
}
#send-message:focus {
	outline:none;
}
#message-input:focus + #send-message {
	border-color:#666;
	background:#777;
}
#messages .message .user {
	font-weight:bold;
}
#messages .message .user:after {
	content:': ';
}

body>h1:hover {
	cursor: pointer;
}

#tools{
	position: absolute;
	padding: 10px 30px;
	background:#fff;
	right: -150px;
	top: 0;
	border-radius: 5px;
}

#features {
	position: absolute;
    top: 50%;
	transform:translateY(-50%);
    right: 20px;
    background: #fff;
    border-radius: 8px;
    font-size: 10px;
    width: 220px;
	text-align:left;
	padding:15px;
}
#features ul {
	margin:0;
	padding:0;
	list-style-position:inside;
	list-style:none;
}
#features ul li {
	margin-bottom:5px;
}

.message {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

#replyToText{
	font-size: 16px;
	margin: 0;
	text-align: left;
}
.meteo-affichage{
	background-color: rgb(121, 121, 121);
	border: solid black;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	color: white;
	padding: 20px;
}

.meteo-info {
	text-align: center;
}

.meteo-info>p {
	margin: 0;
	padding: 5px;
}

.meteo-affichage-data{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.meteo-affichage-data>p {
	margin: 0;
	padding: 5px;
}

.img-meteo{
	height: 15px;
	width: auto;
}

#file{
	display: inline-block;
  	position: relative;
  	overflow: hidden;
	width: 100%;
} */




html{
	border: solid red;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100%;
}


/* Partie IC-HEADER */
.ic-header {
	border: solid 1px #AEAEAE;
	display: flex;
}

.i-middle {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.i-right {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
	text-transform: uppercase;
}


/* Partie IC-BODY */
.ic-body {
	height: calc(100% - 55px);
	padding: 5px;
}



/* Mon User */
.is-me {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.is-me>.message-container {
	display: flex;
	flex-direction: row-reverse;
}

.user {
	display: flex;
	align-items: center;
}

.message-text {
	border: solid 1px black;
	padding: 5px;
	border-radius: 12px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar-pseudo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-setting-chat{
	margin: 0 !important;
}

/* Autre user */
.message{
	display: flex;
	justify-content: flex-start;
}

.message>.message-container{
	display: flex;
}





/* Reply */
.btn-answer-to {
	margin-left: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#answer-to {
	display: flex;
	align-items: center;
}

#replyToText {
	margin: 0;
}

.replied-text {
	font-style: italic;
	color: rgb(104, 104, 104);
	display: flex;
	justify-content: flex-end;
	margin-right: 55px;
	height: 20px;
}