@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: url('./img/chat.png');
    background-color: #FFE99D;
}
.header {
    height: 120px;
}
#chat {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 85%;
    background-color: #FFF;
    position: relative
}
#messages {
    height: calc(85% - 15px - 60px);
    padding-top: 30px;
    width: 90%;
    margin: auto;
    overflow-y: scroll;
    margin-bottom: 15px;
}

#messages .message {
    padding:4px 20px;
}

#messages .message.is-me {
    display: flex;
    justify-content: right;
}

#messages .message .message-container,
#messages .message.is-me .message-container {
    padding: 6px 15px;
    border-radius: 10px;
    max-width: 200px;
}

#messages .message .message-container {
    background-color: #FFE99D;
}

#messages .message.is-me .message-container {
    background-color: #C3FFC9;
}

#messages .message .user-profile-image .user {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#message-input {
    display:inline-block;
    border:solid 2px #888;
    width:calc(100% - 144px);
    padding:0 20px;
    height:31px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    border-right:none;
    transition:all .4s;
}

.comment-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-input {
    width: 50%;
    height: 30px;
    border: 2px solid #FFE99D;
    border-radius: 20px;
}

input#image-input {
    width: 40px;
    position: fixed;
    bottom: 100%;
}

#send-message {
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: uppercase;
}

button {
    border: none;
}

.user-profile-image {
    display: flex;
    align-items: center;
}

.img-upload {
    width: 34px;
}

@media(max-width: 420px) {
    body {
        background: url('./img/chat.png');
        background-color: #FFE99D;
    }
    .header {
        height: 120px;
    }
    #chat {
        width: 100%;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        height: 85%;
        background-color: #FFF;
        position: relative
    }
    #messages {
        height: calc(85% - 15px - 60px);
        padding-top: 30px;
        width: 90%;
        margin: auto;
        overflow-y: scroll;
        margin-bottom: 15px;
    }

    #messages .message {
        padding:4px 20px;
    }

    #messages .message.is-me {
        display: flex;
        justify-content: right;
    }

    #messages .message .message-container,
    #messages .message.is-me .message-container {
        padding: 6px 15px;
        border-radius: 10px;
        max-width: 200px;
    }
    
    #messages .message .message-container {
        background-color: #FFE99D;
    }

    #messages .message.is-me .message-container {
        background-color: #C3FFC9;
    }

    #messages .message .user-profile-image .user {
        margin-left: 15px;
        display: flex;
        align-items: center;
    }

    #message-input {
        display:inline-block;
        border:solid 2px #888;
        width:calc(100% - 144px);
        padding:0 20px;
        height:31px;
        border-top-left-radius:8px;
        border-bottom-left-radius:8px;
        border-right:none;
        transition:all .4s;
    }

    .comment-wrapper {
        width: 100%;
        height: 50px;
        border-radius: 1px solid #dfdfdf;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #message-input {
        width: 50%;
        height: 30px;
        border: 2px solid #FFE99D;
        border-radius: 20px;
    }

    input#image-input {
        width: 40px;
        position: fixed;
        bottom: 100%;
    }

    #send-message {
        height: 100%;
        background: none;
        border: none;
        outline: none;
        text-transform: uppercase;
    }

    button {
        border: none;
    }

    .user-profile-image {
        display: flex;
        align-items: center;
    }

    .img-upload {
        width: 34px;
    }
}